@charset "utf-8";

/*リセットCSS*/
body,p,h1,h2,h3,h4,h5,h6,dl,dd,dt {
  margin: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:hover {
  cursor: hand;
}

body {
  background-color: #f0f0f0;
}

.accordion {
  width: 500px;
  margin: 30px auto;
}

.accordion dt{
  height: 50px;
  padding: 5px;
  color: #fff;
  background-color: #9396a2;
  font-size: 20px;
}

.accordion dd {
  padding: 5px; 
  background-color: #fff;
  margin-bottom: 2px;
}

dt.closed {
  background-color: #31374c;
  cursor: pointer;
}

dd.closed {
  
  display: none;
}